{
    "extends": [
      "react-app",
      "prettier",
      "prettier/react"
    ],
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["src"]
        }
      }
    }
  }
  